.cart-list{
    list-style: none;
    margin: 0 auto;
    width: 60%;
}

.cart-list li {
    align-items: center;
    border: 1px solid #058879;
    box-shadow: 2px -1px 8px #05796d;
    display: flex;
    margin: 10px 0;
    padding: 0 10px;
}

.cart-list p {
    font-weight: bold;
    margin-right: auto;
}

.cart-list form {
    margin-right: 5px;
}

.cart-list .item-detail {
    margin: 0 5px;
    font-size: 13px;
}

.cart-list .item-detail:last-of-type {
    font-weight: bold;
}

.cart-list img {
    margin-right: 10px;
    width: 35px;
}