.cart-list{
    list-style: none;
    margin: 0 auto;
    width: 40%;
}

.cart-list li {
    align-items: center;
    border: 1px solid #058879;
    box-shadow: 2px -1px 8px #05796d;
    display: flex;
    margin: 10px 0;
    padding: 0 10px;
}

.cart-list p {
    margin-right: auto;
}

.cart-list form {
    margin-right: 5px;
}